@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@300&family=Titillium+Web:wght@300&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: Quicksand,sans-serif !important;
}
body            
{
    background-color:#474948 !important;
}
h1{
    color: white;
    text-align:center;
    font-family:Quicksand,sans-serif;
    font-weight: bold;
}

li,a{

font-family:"Quicksand",sans-serif;
text-decoration:none;
color:orange;
font-size: 20px;
padding:5px;

}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 10%;
}

.nav_links{
    list-style:none;
}

.nav_links li{
    display:inline-block;
}

a, a:link {
  color: white;
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient( #474948 50%, gold 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

a:hover {
  background-position-y: 100%;

}

.logo{
    cursor: pointer;
}

.footer{
    font-size:15px;
    background-color:#FFD700;
    width:100%;
    height:35px;
    text-align: center;
    font-family:Quicksand,sans-serif;
    margin-bottom:0;
    color:white;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
}
.nav_icon{
    visibility: hidden;
}
/*responsive nav-bar */

@media(max-width: 768px){

    .nav_links li{
        display:block;
        font-size:12px;
        float:none;
    }
    .nav_icon{
        visibility: visible;
        margin-top:0px;
        padding-top:0px;
        cursor:pointer;
    }
    a, a:link {
       display:none;
      }

}

@media(min-width: 768px){

    .dropdown{
        visibility: hidden;
    }
    
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left:50%;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    left: 50%;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
  .show {
    display:block;
}
p{
    font-size:16px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index:-1;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FFD700;
    top: 15px;
    border-radius: 50%;
    z-index: 0;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  

  .right::after {
    left: -16px;
  }
  

  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  

  @media screen and (max-width: 600px) {
    .timeline::after {
    left: 31px;
    }
    
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
    left: 15px;
    }
    
    .right {
    left: 0%;
    }
  }

